div.home {
    background: url(https://image.ibb.co/e6FNaf/bk1-edited.jpg) fixed;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid whitesmoke;
}

/* @font-face {
    font-family: "Ropa Sans";
    src: url(https://www.wfonts.com/download/data/2016/06/07/ropa-sans/RopaSans-Italic.ttf) format("truetype");
} */
h1.home {
    padding-top: 30vh;
    /* font-family: "Ropa Sans", Verdana, Tahoma; */
    text-align: center;
    font-size: 9vh;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
}

h4.home {
    /* font-family: "Ropa Sans", Verdana, Tahoma; */
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 40vh;
}

li {
    font-size: 20px;
    font-style: bold;
}
