div.home {
    background: url(https://image.ibb.co/e6FNaf/bk1-edited.jpg) fixed;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid whitesmoke;
}

@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Ropa Sans Regular'), local('RopaSans-Regular'), url(https://fonts.gstatic.com/s/ropasans/v7/EYqxmaNOzLlWtsZSScy6UzNpY5I.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

h1.home {
    padding-top: 30vh;
    font-family: "Ropa Sans", Verdana, Tahoma;
    text-align: center;
    font-size: 9vh;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
}

h4.home {
    font-family: "Ropa Sans", Verdana, Tahoma;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 18%;
}

li {
    font-size: 20px;
    font-style: bold;
}

.roundedrec {
    font-size: 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.5);
    margin-top:20px;
    margin-bottom:20px;
}

input[type=text], input[type=password], [type=date], [type=email], [type=number] {
    border: 2px solid #dbdbdb;
    border-radius: 16px;
    width: 80%;
    height: 60px;
    text-align: center;
    font-family: "Ropa Sans", Verdana, Tahoma !important;
    font-size: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
}