body {
    background: url(https://image.ibb.co/e6FNaf/bk1-edited.jpg) fixed;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: "Ropa Sans", Verdana, Tahoma;
    text-align: center;
}
input[type=text] {
    border: 2px solid #dbdbdb;
    border-radius: 16px;
    width: 90%;
    height: 60px;
    text-align: center;
    font-family: "Ropa Sans", Verdana, Tahoma !important;
    font-size: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
}