{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Masuk</title>
        <meta charset="UTS-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="konfirmasi">
            <div class="col-12 login box bg-light" style="margin-top: 5%;">
                <h1 style="font-size:60px;">
                    <strong>MASUK</strong>
                </h1>
                <form method="post">
                    <center>{% csrf_token %} {{ form_login.as_p }}</center>
                    <button type="submit" id="submit_login">Masuk</button>
                </form>
                <br>
                <p>
                    <strong>-- ATAU --</strong>
                </p>
                <a href="{% url 'social:begin' 'google-oauth2' %}" id="google_login" style="padding:10px;">Masuk dengan Google</a>
                <br><br>
                <p>Belum punya akun? <a href="/registrasi">Registrasi</a></p>
            </div>
        </div>
    </body>
</html>