<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tes user exist</title>
</head>
<body>

{% if user.is_authenticated %}
    <p class="display-4">Hello, {{ user.username }}</p>
{% else %}
    <a class="lead" href="/user/login">Log in</a>
{% endif %}

</body>
</html>