body {
    background: url(https://image.ibb.co/e6FNaf/bk1-edited.jpg) fixed;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: "Ropa Sans", Verdana, Tahoma;
    text-align: center;
}
input[type=text], input[type=password], [type=date], [type=email] {
    border: 2px solid #dbdbdb;
    border-radius: 16px;
    width: 90%;
    height: 60px;
    text-align: center;
    font-family: "Ropa Sans", Verdana, Tahoma !important;
    font-size: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
}
#submit_login, #google_login {
    background-color: #fafaff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 220px;
    height: 48px;
    text-align: center;
    font-family: "Ropa Sans", Verdana, Tahoma !important;
    font-size: 20px;
}
.box {
    padding: 20px;
    border-radius: 20px;
    width: 40%;
    margin: auto;
}