<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Berita</title>
{% endblock %}

{% block content %}
<br><br>
<div class="container bg-light text-dark">
    <h8><br></h8>
    <dl class="row">
        <dt class="berita col-sm-3">
            <img class="card-img-top" src="{% static 'berita_pict/palu.jpg' %}"></dt>
        <dd class="col-sm-9">
            <h5>Gempa di Palu - Donggala</h5>
            <p>Jumat malam (28/9), terjadi gempa besar dengan kekuatan 7.7 SR yang mengguncang Donggala.
                Tidak lama setelah gempa terjadi, menyusul Tsunami yang menyapu kota Palu hingga ketinggian 1.5-3 M.
                <br><br>
                Sampai hari Senin (01/10), bahkan sudah terjadi 254 kali gempa susulan.
                Tercatat 1.203 korban tewas di Palu, 540 korban luka, dan 16.732 orang harus mengungsi.
                (Sumber: BNPB. Senin, 01/10 )
                <br>
            </p>
        </dd>

        <dt class="col-sm-3">
            <img class="card-img-top" src="{% static 'berita_pict/lombok.jpeg' %}">
        </dt>
        <dd class="col-sm-9">
            <h5>Gempa di Lombok</h5>
            <p>Gempa besar tak sekali dua kali mengguncang Lombok dan NTB.
                Pada Ahad (19/8) silam, warga kembali dirundung kepanikan karena sebanyak 8 gempa berkekuatan di atas 5.0 SR mengguncang NTB.
                Puncaknya pada pukul 21.56, kekuatan gempa mencapai 7.0 SR.
                <br><br>
                Setelah diguncang 1.005 kali gempa susulan pada (21/8), korban terus bertambah.
                Korban jiwa yang meninggal dunia per 23 Agustus mencapai 555 orang. Anak-anak pun tak luput menjadi korban.
                Namun, tak sedikit pula bayi dan balita yang mendapat keajaiban dan selamat dari timbunan reruntuhan.
                <br>
            </p>
        </dd>

        {% for i in data_berita %}
        <dt class="col-sm-3">
            <img class="card-img-top" src="{{ i.imgsrc }}">
        </dt>
        <dd class="col-sm-9">
            <h5>{{ i.judul }}</h5>
            <p>
                {{ i.konten }}
            </p>
        </dd>
        {% endfor %}
    </dl>
</div>

{% endblock %}