<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Donasi</title>
{% endblock %}

{% block content %}
    <br><br>
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'donasi_pict/palu.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bantu korban bencana alam di Palu</h5>
                    <p class="card-text">Mari bantu teman-teman kita di Palu pasca bencana alam yang terjadi</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="/konfirmasi">KLIK UNTUK DONASI</a></small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'donasi_pict/lombok.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Aksi untuk korban benacana alam di Lombok</h5>
                    <p class="card-text">Mohon bantuannya untuk korban bencana alam yang ada di lombok akibat gempa
                        bumi.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="/konfirmasi">KLIK UNTUK DONASI</a></small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'donasi_pict/donggala.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bantu korban gempa dan tsunami Palu-Donggala</h5>
                    <p class="card-text">Dukung dan bantu untuk korban-korban yang terkena bencana alam di
                        Palu-Donggala.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="/konfirmasi">KLIK UNTUK DONASI</a></small>
                </div>
            </div>
        </div>
        <br>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'donasi_pict/bayitumor.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bantu Adik Khairul Anwar Pengidap Tumor di Pipi</h5>
                    <p class="card-text">Mari bantu Adik kita ini untuk sembuh dari penyakit tumornya,
                        sehingga bisa tumbuh dan berkembang seperti anak-anak lainnya.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="/konfirmasi">KLIK UNTUK DONASI</a></small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'donasi_pict/gempalombok.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bantu untuk korban gempa di Lombok</h5>
                    <p class="card-text">Ayo kita dukung dan bantu untuk korban-korban yang terkena bencana gempa bumi
                        di Lombok.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="/konfirmasi">KLIK UNTUK DONASI</a></small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'donasi_pict/pakamintumor.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bantu untuk kesembuhan Pak Amin dari Tumor di mulutnya</h5>
                    <p class="card-text">Mohon bantuannya untuk biaya operasi Pak Amin agar sembuh dari penyakit tumor
                        di mulutnya,
                        sehingga bisa menafkahi keluarganya dengan keadaan sehat.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="/konfirmasi">KLIK UNTUK DONASI</a></small>
                </div>
            </div>
        </div>
    </div>
    <br>

{% endblock %}