{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Registrasi Error</title>
{% endblock %}

{% block content %}
    <br>
    <h4>Email Telah Terpakai, Silahkan Gunakan Email Yang Lain<br>Terima Kasih</h4>
    <br>
{% endblock %}