{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Donasi Error</title>
{% endblock %}

{% block content %}
    <br>
    <h4>Anda Belum Melakukan Registrasi <br>Silahkan Lakukan Registrasi Terlebih Dahulu<br>Terima Kasih</h4>
    <br>
{% endblock %}