{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>BerbagiKuy.com | Homepage</title>
{% endblock %}


{% block content %}
    <div class="home">
        {% if user.is_authenticated %}
        <div style="margin-top: 1vh; margin-bottom: 1vh">
            <text class="display-4 roundedrec" style="margin-top: 50%; background: rgb(143, 143, 143);">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <strong> Hello, {{ user.username }}</strong>
            </text>
        </div>
        {% endif %}
        <!-- <text class="display-4 roundedrec" style="margin-top: 50%; background: rgb(143, 143, 143);">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <strong> Hello, {{ user.username }}!</strong>
        </text> -->
        <h1 class="home"><strong>Mari Bantu Teman - Teman Kita</strong></h1>
        <h4 class="home"><strong>“No one has ever become poor by giving.”
            <br>-Anne Frank</strong></h4>
    </div>
{% endblock %}