{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Konfirmasi Sukses</title>
{% endblock %}

{% block content %}
    <br>
    <h4>Anda Berhasil Melakukan Donasi <br>Terima Kasih Atas Kepedulian Anda.</h4>
    <br>
{% endblock %}