{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="konfirmasi" style="text-align: center; margin:auto;">
        <h1 style="padding-bottom: 10px;"><br>Donasi</h1>
        <div class="box bg-light" style="text-align: center; margin: auto; width: 35%;">
            <p style="padding-bottom: 10px;">Anda akan berdonasi untuk campaign
                <br>
                <strong>Bantu Korban Gempa dan Tsunami Palu-Martil</strong> <!-- sesuai nama judul -->
            </p>
            {#        <form class="konfirmasiform" action="">#}

            <section name="form">
                <center>
                <!-- <img src="{{ form.image.url }}" /> -->
                <form id="form" method="POST" action="/konfirmasi-sukses/">
                    {% csrf_token %}

                    <div class="form-group">
                        {{ form_donasi }}
                        <br>
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>
                </form>
                </center>


            </section>

            {#            <div class="form-group col-md-12">#}
            {#                <label for="InputNama">Nama  :</label>#}
            {#                <input type="nama" class="form-control" id="InputNama" aria-describedby="emailHelp" placeholder="Masukan Nama Lengkap">#}
            {#            </div>#}
            {#            <div class="form-group col-md-12">#}
            {#                <label for="InputEmail">E-mail  :</label>#}
            {#                <input type="email" class="form-control" id="InputEmail" aria-describedby="nameHelp" placeholder="Masukan E-mail">#}
            {#            </div>#}
            {#            <div class="form-group col-md-12">#}
            {#                <label for="InputUang">Donasi    :</label>#}
            {#                <input type="uang" class="form-control" id="InputUang" aria-describedby="uangHelp" placeholder="Masukan dalam Rupiah">#}
            {#            </div>#}
            {#            <div class="form-group form-check">#}
            {#                <input type="checkbox" class="form-check-input" id="CheckAnon">#}
            {#                <label class="form-check-label" for="CheckAnon">Donasi dengan anonim</label>#}
            {#            </div>#}
            {#            <button style="margin-top: 20px;" type="donasi" class="btn btn-primary" onclick="" href="">Donasi</button>#}
            {#        </form>#}
        </div>
    </div>

{% endblock %}