<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Registrasi</title>
{% endblock %}

{% block content %}
<div class="container" style="text-align: center; width: 35%">
    <h1><br><b>Registrasi</b><br><br></h1>
    <div class="box bg-light">
        <section name="form">
            <form id="form" method="POST" action="/registrasi-sukses/">
                <center>{% csrf_token %}
                
                <div class="form-group">
                    {{ form }}
                    <br>
                    <button type="submit" class="btn btn-warning"> Submit</button>
                </div></center>
            </form>


        </section>

        <!--
        <form>
            <div class="form-group">
                <label for="Nama">Nama :</label>
                <input type="name" class="form-control" id="Nama" placeholder="Masukkan Nama" aria-describedby="nameHelp" required="true">
            </div>
            <div class="form-group">
                <label for="Tanggal">Tanggal :</label>
                <input type="date" class="form-control" id="Tanggal" required="true">
            </div>
            <div class="form-group">
                <label for="Email">Email :</label>
                <input type="email" class="form-control" id="Email" placeholder="random@mail.com" aria-describedby="emailHelp" required="true">
            </div>
            <div class="form-group">
                <label for="Password">Password :</label>
                <input type="password" class="form-control" id="Password" placeholder="Password" aria-describedby="passwordHelp" required="true">
            </div>
            <div class="form-group">
                <label for="Repeat_Password">Repeat Password :</label>
                <input type="password" class="form-control" id="Repeat_Password" placeholder="Repeat Password" aria-describedby="passwordHelp" required="true">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        -->
        <h5><br></h5>
    </div>
</div>
{% endblock %}