{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Registrasi Sukses</title>
{% endblock %}

{% block content %}
    <br>
    <h4>Anda Berhasil Melakukan Registrasi</h4>
    <br>
{% endblock %}